# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/

# Database
*.db
instance/*
!instance/.gitkeep

# Audio files
playlists/*
!playlists/README.md
!playlists/.gitkeep

# Logs
logs/
*.log

# IDE
.vscode/
.idea/